@{
    ViewBag.Title = "About Drake Online";
}
@(Model)

    <div>
        <hr />
        <img src="~/images/girlcsr.jpg" /> @*<h2>Welcome    </h2>*@
    </div>
    <br />
    <div align="center">
        <font face="Arial, Helvetica, sans-serif" size="3">
            <b>
                Personal
                Information Collection Statement
            </b>
        </font>
    </div>


    <p>
        <b><font face="Arial, Helvetica, sans-serif" size="2">Drake's privacy commitment</font></b><font face="Arial, Helvetica, sans-serif" size="2">
            <br>
            At Drake, we are committed to protecting the privacy of the information that
            you give to us. This document explains how we at Drake collect, use and disclose
            your personal information for our recruitment, flexible staffing and training
            businesses.
        </font>
    </p>
    <p>
        <font face="Arial, Helvetica, sans-serif" size="2">
            <b>What we do</b><br>
            Drake uses highly skilled consultants to provide permanent recruitment services
            that respond to the needs of both employers and applicants by helping to place
            the right person in the right position. Drake also supplies temporary contractors
            to a wide range of businesses in many industries (&#147;Clients&#148;). <br>
            Drake also provides services such as training, development and e?learning, assessment
            and certification, career and organization development, business technologies
            and outsourcing.
        </font>
    </p>
    <p>
        <font face="Arial, Helvetica, sans-serif" size="2">
            <b>Your personal information</b><br>
            Some examples of the types of personal information that may be held by Drake
            includes your name, date of birth, contact details, qualifications, work history,
            skills, r&eacute;sum&eacute;, salary/benefit information, driver&#146;s licence
            number and information about your hobbies and interests.
        </font>
    </p>
    <p>
        <font face="Arial, Helvetica, sans-serif" size="2">
            If you consent, we may also
            collect sensitive information (for example, information about your membership
            in a trade union or health information). It is up to you to choose the information
            that you give to Drake.
        </font>
    </p>
    <p>
        <font face="Arial, Helvetica, sans-serif" size="2">
            If you choose not to provide
            Drake with particular information that has been requested, Drake may not be
            best placed to provide the service that you have requested.
        </font>
    </p>
    <p>
        <font face="Arial, Helvetica, sans-serif" size="2">
            <b>
                How we collect personal
                information
            </b><br>
            Drake collects personal information in a number of ways, including:
        </font>
        <ul>
            <li>
                <font face="Arial, Helvetica, sans-serif" size="2">
                    directly from you, when
                    you provide information by phone or in documents such as an application form
                    or a r&eacute;sum&eacute;
                </font>
            <li>
                <font face="Arial, Helvetica, sans-serif" size="2">
                    by contacting the referees
                    that you have nominated;
                </font>
            <li>
                <font face="Arial, Helvetica, sans-serif" size="2">
                    from Clients to whom
                    services are supplied as part of our contracting business; and
                </font>
            <li>
                <font face="Arial, Helvetica, sans-serif" size="2">
                    by searching publicly
                    available information (for example, the internet).
                </font>
        </ul>
    <p>
        <font face="Arial, Helvetica, sans-serif" size="2">
            <b>
                How we use your personal
                information
            </b><br>
            In our recruitment and contracting businesses, the personal information that
            we collect from you is used to provide recruitment and contracting services,
            for example, by matching applicants or contractors to client needs.
        </font>
    </p>
    <p>
        <font face="Arial, Helvetica, sans-serif" size="2">
            In our non-recruitment businesses,
            your personal information is used to enable Drake to deliver the product or
            services that you require.
        </font>
    </p>
    <p>
        <font face="Arial, Helvetica, sans-serif" size="2">
            <b>
                Will your personal information
                be given to anyone else?
            </b><br>
            We will disclose personal information about you to Clients for the purpose of
            recruiting you to specific positions, or for supplying your services to Clients
            as a contractor.
        </font>
    </p>
    <p>
        <font face="Arial, Helvetica, sans-serif" size="2">
            We may also disclose your
            personal information to the following parties outside of Drake:
        </font>
        <ul>
            <li>
                <font face="Arial, Helvetica, sans-serif" size="2">
                    Drake's agents, contractors
                    (e.g. people who authorised to administer our computer systems or to other
                    recruitment suppliers, where we are working on a joint recruitment project),
                    professional advisers, consultants and representatives;
                </font>
            <li>
                <font face="Arial, Helvetica, sans-serif" size="2">
                    you and your referees
                    in making enquiries; <br>
                </font>
            <li>
                <font face="Arial, Helvetica, sans-serif" size="2">
                    your financial institution
                    and others relating to your remuneration and benefits;
                </font>
            <li>
                <font face="Arial, Helvetica, sans-serif" size="2">
                    government bodies or
                    others as required/authorised by law; and
                </font>
            <li>
                <font face="Arial, Helvetica, sans-serif" size="2">
                    Drake's related companies
                    and any companies involved in a corporate or business restructure by Drake.
                </font>
        </ul>
    <p>
        <font face="Arial, Helvetica, sans-serif" size="2">
            <b>
                You can access your personal
                information
            </b><br>
            You have a right to access your personal information, subject to some exceptions
            allowed by law. If you would like to do so, please let us know.
        </font>
    </p>
    <p>
        <font face="Arial, Helvetica, sans-serif" size="2">
            For security reasons, you
            may be required to put your request in writing.
        </font>
    </p>
    <p>
        <font face="Arial, Helvetica, sans-serif" size="2">
            Further, you may be charged
            a fee for searching for and providing access to your information.
        </font>
    </p>
    <p>
        <font face="Arial, Helvetica, sans-serif" size="2">
            <b>How to contact us</b><br>
            If you would like to obtain a copy of our Privacy Policy or if you have any
            questions in relation to privacy, please contact us. You can do this by writing
            to our Privacy Officer, at :
        </font>
    </p>
    <p>
        <font face="Arial, Helvetica, sans-serif" size="2">
            <b>
                Privacy Officer, <br>
                Drake Australia Pty Ltd,<br>
                GPO Box 298B,<br>
                Melbourne 3001
            </b><br>
            <b>Email:</b> <a href="mailto:privacy@au.drakeintl.com">privacy@au.drakeintl.com</a>
        </font>
    </p>
