@{
    ViewBag.Title = "Contact Details";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Drake Global IT Support<br />
    Philippines & Australia<br />
    <abbr title="Phone">P:</abbr>
    63.916.3014.903
</address>

<address>
    <strong>Jeff:</strong>   <a href="mailto:jjuarez@drakeintl.co.uk">Philippines Support</a><br />
    <strong>Dak:</strong> <a href="mailto:dwijekoon@au.drakeintl.com">Australia Support</a>
</address>