
@using DOL.MVC.Helpers
@{
    var alerts = TempData.ContainsKey(MvcExtensionHelper.Alert.TempDataKey)
                ? (List<MvcExtensionHelper.Alert>)TempData[MvcExtensionHelper.Alert.TempDataKey]
                : new List<MvcExtensionHelper.Alert>();

    if (alerts.Any())
    {
        <hr />
    }

    foreach (var alert in alerts)
    {
        var dismissableClass = alert.Dismissable ? "alert-dismissable" : null;
        <div class="alert alert-@alert.AlertStyle @dismissableClass">
            @if (alert.Dismissable)
            {
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            }
            @Html.Raw(alert.Message)
        </div>
    }
}